theme:
    name: 'material'
    palette:
        primary: orange
        accent: light green
site_name: My Docs
site_url: http://guoruiming.com:8000
markdown_extensions:
    - pymdownx.arithmatex:
        generic: true
extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


