beautifulsoup4==4.10.0
certifi==2021.5.30
charset-normalizer==2.0.9
click==8.0.1
colorama==0.4.4
EditorConfig==0.12.3
ghp-import==2.0.1
gitdb==4.0.9
GitPython==3.1.20
idna==3.3
importlib-metadata==4.8.1
Jinja2==3.0.1
jsbeautifier==1.14.0
Markdown==3.3.4
MarkupSafe==2.0.1
mergedeep==1.3.4
mkdocs==1.2.2
mkdocs-git-revision-date-plugin==0.3.1
mkdocs-material==7.3.0
mkdocs-material-extensions==1.0.3
mkdocs-mermaid2-plugin==0.5.2
packaging==21.0
Pygments==2.10.0
pymdown-extensions==8.2
pyparsing==2.4.7
python-dateutil==2.8.2
PyYAML==5.4.1
pyyaml-env-tag==0.1
requests==2.26.0
six==1.16.0
smmap==5.0.0
soupsieve==2.3.1
typing-extensions==3.10.0.2
urllib3==1.26.7
watchdog==2.1.5
wincertstore==0.2
zipp==3.5.0
