/*
   Cribbed from the excellent ITS Theme
   https://github.com/SlRvb/Obsidian--ITS-Theme
*/
.cm-s-obsidian .HyperMD-table-row.HyperMD-table-row.HyperMD-table-row {
  white-space: pre-wrap;
  min-width: min-content;
}
